
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-person:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */