html {
  font-family: "Arial";
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body main {
  max-width: 50%;
  min-width: 320px;
  padding: 2rem;
}

main form {
  padding: 1rem;
  border: 1px solid transparent;
  background-color: silver;
}
main form.has-error {
  border-color: red;
  background-color: mistyrose;
}

form label {
  display: block;
  margin-bottom: 1rem;
}

label input {
  float: right;
}